<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="MainApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sistema radios</title>
	<!-- Cargamos bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<!-- Cargamos angular -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<!-- Cargamos el javascript de angular -->
	<script src="core.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script>

		var socket = io.connect('http://192.168.2.6:3000');

		// Cuando nos conectamos al servidor, pregunta por el username 
		socket.on('connect', function(){
			// Llamar a la funcion del lado del server 'adduser' y enviar el username
			socket.emit('adduser', prompt("Ingrese su Nick"));
		});

		// Listener, Server actualiza el chat con 'updatechat'
		socket.on('updatechat', function (username, data) {
			$('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
		});

		// Listener, Server actualiza la sala con 'updaterooms'
		socket.on('updaterooms', function(rooms, current_room) {
			$('#rooms').empty();
			$.each(rooms, function(key, value) {
				if(value == current_room){
					$('#rooms').append('<div>' + value + '</div>');
				}
				else {
						$('#rooms').append('<div><a href="#" onclick="switchRoom(\''+value+'\')">' + value + '</a></div>');
				}
			});
		});

		function switchRoom(room){
			socket.emit('switchRoom', room);
		}
	
		// Cuando la paginan se carga, aparece un aviso para ingresar el username
		$(function(){
			// Cuando el cliente hace click en enviar
			$('#datasend').click( function() {
				var message = $('#data').val();
				$('#data').val('');
				// decir al server que ejecute 'sendchat' y envie un mensaje
				socket.emit('sendchat', message);
			});

			// Cuando el cliente presiona enter
			$('#data').keypress(function(e) {
				if(e.which == 13) {
					$(this).blur();
					$('#datasend').focus().click();
				}
			});
		});
</script>

</head>
<body ng-controller="mainController">
	<div class="container">
		<div class="jumbotron text-center" ng-prueba>
			<h1>Nº de radios: <span class="label label-success">{{ radios.length }}</span></h1>
		</div>
		<div class="page-header">
 			 <h1>1- Agrega tu radio! <small>Ingresa la radio que deseas escuchar!</small></h1>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-1">
				<table class="table table-striped">
					<tr class="info">
						<td>Nombre</td>
						<td>Direccion</td>
						<td>Maximo</td>
						<td>Actual</td>
					</tr>
					<tr ng-repeat="radio in radios" ng-click="selectPerson(radio)">
						<td>{{ radio.nombre }}</td>
						<td>{{ radio.direccion }}</td>
						<td>{{ radio.maxUsers }}</td>
						<td>{{ radio.actualUsers }}</td>						
					</tr>
				</table>					
			</div>
			<div class="col-sm-4 col-sm-offset-1 text-center">
				<form name="myForm">
					<div class="form-group">
						<input type="text" class="form-control input-lg text-center" placeholder="Nombre" ng-model="newRadio.nombre" required>
						<br>
						<input type="text" class="form-control input-lg text-center" placeholder="Direccion" ng-model="newRadio.direccion" required>
						<br>
						<input type="text" class="form-control input-lg text-center" placeholder="Usuarios max" ng-model="newRadio.maxUsers" required>
					</div>

					<!-- Acciones que podemos realizar en el formulario -->
					<button type="submit" class="btn btn-success btn-lg" ng-click="registrarRadio()" ng-disabled="myForm.$invalid || selected">Registrar</button>
					<button type="submit" class="btn btn-warning btn-lg" ng-click="modificarRadio(newRadio)" ng-disabled="!newRadio.nombre || !newRadio.direccion || !newRadio.maxUsers || !selected">Modificar</button>
					<button type="submit" class="btn btn-danger btn-lg" ng-click="borrarRadio(newRadio)" ng-disabled="!newRadio.nombre || !newRadio.direccion || !newRadio.maxUsers || !selected">Borrar</button>
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="page-header">
 			 <h1>2- Escucha tu radio! <small>Selecciona la radio que deseas escuchar!</small></h1>
		</div>
			<div class="col-sm-6 col-sm-offset-1">
				<table class="table table-striped">
					<tr class="info">
						<td>Nombre</td>
						<td>Direccion</td>
					</tr>
					<tr ng-repeat="radio in radios" ng-click="selectRadioListen(radio)">
						<td>{{ radio.nombre }}</td>
						<td>{{ radio.direccion }}</td>					
					</tr>
				</table>					
			</div>
	</div>
	<div class="container">
		<div class="page-header">
 			 <h1>3- Chatea! <small>Selecciona el chat que gustes!</small></h1>
		</div>
		<div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
			<b>SALAS</b>
				<div id="rooms"></div>
		</div>
		<div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
			<div id="conversation"></div>
			<input id="data" style="width:200px;" />
			<input type="button" class="btn btn-primary" id="datasend" value="Enviar" />
		</div>
	</div>

</body>
</html>
